@import url("./shared.css");

.landing-page-background {
  background-size: cover;
  background: url("../img/landing-page-bg.jpg") no-repeat 56% 32%;
  background-size: cover;
  min-height: 100vh;
}

.hero-btn {
  text-transform: uppercase;
}

.gallery-preview-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #cccccc;
  z-index: -1;
}

@media (min-width: 992px) {
  .landing-page-background {
    background: initial;
  }

  .hero-btn {
    text-transform: capitalize;
  }
}

@media (min-width: 1920px) {
  .navbar-brand {
    margin-left: 52%;
  }
}
