@import url("./shared.css");


.ui-h2-line:before {
    position: absolute;
    content: "";
    min-height: 2px;
    min-width: 70px;
    background-color: #ABABAB;
}

.list-of-contents {
    padding: 0;
    list-style: none;
}


/*Color Section*/
.color-list {
    max-width: 500px;
}

.color-1 {
    content: '';
    position: relative;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #414145;
    margin: auto;
}

.color-2 {
    content: '';
    position: relative;
    z-index: 100;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #ABABAB;
    margin: auto;
}

.color-3 {
    content: '';
    position: relative;
    z-index: 100;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #cccccc;
    margin: auto;
}

.color-4 {
    content: '';
    position: relative;
    z-index: 100;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: auto;
}

/* States */
.button-container {
    max-width: 900px
}

.btn-hover {
    background: #414145;
    border-color: #414145;
    color: #FFFFFF;
}

.btn-focused {
    background: initial;
    border-color: #ABABAB;
    border-style: solid;
    border-width: 2px;
    color: #414145;
    box-shadow: 0 0 0 0.25rem rgba(204, 204, 204, 1);
}

.btn-active-focused {
    box-shadow: 0 0 0 0.25rem rgba(204, 204, 204, 1);
    border-color: #414145;
    border-width: 2px;
    background: #414145;
    color: #FFFFFF;
}

/* Navigation Link */

.nav-link-hovered {
    color: #cccccc;
}

/*Burger Navigation Icon*/

.navigation-icons-container {
    max-width: 350px;
}

/*Icon Links*/

.s-icon-list {
    max-width: 600px;
}

.s-media-icon-hovered {
    color: #cccccc;
}