@import url("./shared.css");


.ui-h2-line:before {
    position: absolute;
    content: "";
    min-height: 2px;
    min-width: 70px;
    background-color: #ABABAB;
}

.list-of-contents {
    padding: 0;
    list-style: none;
}

/* Features */
.feature-list {
    list-style-position: inside;
}

/*Color Section*/
.color-list {
    max-width: 500px;
}

.color-1 {
    content: '';
    position: relative;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #414145;
    margin: auto;
}

.color-2 {
    content: '';
    position: relative;
    z-index: 100;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #ABABAB;
    margin: auto;
}

.color-3 {
    content: '';
    position: relative;
    z-index: 100;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #cccccc;
    margin: auto;
}

.color-4 {
    content: '';
    position: relative;
    z-index: 100;
    min-width: 70px;
    min-height: 70px;
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: auto;
}

/* States */
.button-container {
    max-width: 900px
}

.btn-hover {
    background: #414145;
    border-color: #414145;
    color: #FFFFFF;
}

.btn-focused {
    background: initial;
    border-color: #ABABAB;
    border-style: solid;
    border-width: 2px;
    color: #414145;
    box-shadow: 0 0 0 0.25rem rgba(204, 204, 204, 1);
}

.btn-active-focused {
    box-shadow: 0 0 0 0.25rem rgba(204, 204, 204, 1);
    border-color: #414145;
    border-width: 2px;
    background: #414145;
    color: #FFFFFF;
}

/* Navigation Link */

.nav-link-hovered {
    color: #cccccc;
}

/*Burger Navigation Icon*/

.navigation-icons-container {
    max-width: 350px;
}

/*Icon Links*/

.s-icon-list {
    max-width: 600px;
}

.s-media-icon-hovered {
    color: #cccccc;
}


/* Low Fidelity */

/* I don't want the scroll to be available on larger screens I just want to have the UI as it is*/


.tablet-low-fid, .mobile-low-fid, .mobile-high-fid, .tablet-high-fid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    max-width: min-content;
    grid-gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 30rem;
}

.desktop-low-fid img, .laptop-high-fid img, .desktop-high-fid img {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    height: 30rem;
    width: 100%;
}

.mobile-low-fid::-webkit-scrollbar, .mobile-high-fid::-webkit-scrollbar {
    display: none;
}

.tablet-low-fid::-webkit-scrollbar, .tablet-high-fid::-webkit-scrollbar {
    max-height: 8px;
    background-color: #cccccc;
}

.tablet-low-fid::-webkit-scrollbar-thumb, .tablet-high-fid::-webkit-scrollbar-thumb {
    background-color: #ABABAB;
    border-radius: 5px;
}

@supports (scroll-snap-type: x mandatory) {
    .tablet-low-fid, .mobile-low-fid, .mobile-high-fid, .tablet-high-fid {
        scroll-snap-type: x mandatory;
        scroll-padding: 0;
    }

    .tablet-low-fid > img, .mobile-low-fid > img, .mobile-high-fid > img, .tablet-high-fid > img {
        scroll-snap-align: start;
    }
}

.tablet-low-fid > img, .mobile-low-fid > img, .mobile-high-fid > img, .tablet-high-fid > img {
    max-height: 30rem;
}

@media (max-width: 1380px) {
    .mobile-low-fid::-webkit-scrollbar {
        display: block;
        max-height: 8px;
        background-color: #cccccc;
    }

    .mobile-high-fid::-webkit-scrollbar {
        display: block;
        max-height: 8px;
        background-color: #cccccc;
    }

    .mobile-low-fid::-webkit-scrollbar-thumb {
        background-color: #ABABAB;
        border-radius: 5px;
    }

    .mobile-high-fid::-webkit-scrollbar-thumb {
        background-color: #ABABAB;
        border-radius: 5px;
    }
}